/*  
    inline styles are styles directly placed into the element they are being applied to
    internal styles: use the style tag within the head tag and allows for element styling in one place.
 */

        body {
            /* background-color:#e2fdff; */ 
            background-image: url(./images/clouds.jpg);
            font-family: sans-serif;
            line-height: 35px;
        }
        h1 {
            padding-top: 20px;
            padding-bottom: 20px; 
            color: gold; 
            font-family: Georgia, serif; 
            font-size: 50px; 
            text-align: center;
            text-shadow: 4px 2px 2px black;
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            border: 5px solid #1933c6;
            border-radius: 50px;
            padding: 5px;
        }
        p {
            /* background-image: linear-gradient(to right, #e2fdff, #0ac2ff, #e2fdff); */ 
            text-align: justify; 
            font-size: 20px;
            color: white; 
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
        }
        ul {
            /* background-image: linear-gradient(to right, #e2fdff, #0ac2ff, #e2fdff); */ 
            text-align: center; 
        }

        /* when calling a class: .[classname], can reuse a class to apply to multiple elements
            when calling an ID: #[idname], only use an id once for one element
        */

        #about {
            padding-bottom : 20px; 
            color: violet;
            font-size: 25px;
            text-align: center;
            text-shadow: 2px 2px 2px black;
        }

        #contact {
            color: red;
            font-size: 25px;
            text-align: center;
            text-shadow: 2px 2px 2px black;
            }

        /* psuedo classes = applying effects, implementing dynamic operations
            a:hover (when hovering over a link) 
            a:visited (once a link has been clicked) 
            a:focus (when tabbing through links) 
            a:active (when the link is being clicked on) 
        */

        a:visited {
            color: blue; 
        }

        a:hover {
            background-color: black;
            color: white;
        }

        a:focus {
            background-color: black;
            color: orange;
        }

        a:active {
            color: fuchsia;
        }

        h1:hover {
            color: blueviolet; 
        }

        #about:hover {
            color: green;
        }

        img:hover {
            border: 5px dotted orange;
            border-radius: 50px; 
            padding: 5px;
        }