/****************/
/* BODY SECTION */
/****************/


body, html {
    margin: 0;
    height: 100%;
    
}

.bg {
    /* image used {https://unsplash.com/}*/
    background-image: url("../images/mountain.jpg");

    /* full height */
    height: 100%;
    width: 100%;

    /* center and scale image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    
}


/***************/
/* NAV SECTION */
/***************/



.nav {
    position: sticky;
    top: 0;
    z-index: 1;
}

.menu {
    background-color: rgba(255, 255, 255, 0.719);
    /* border-bottom: 15px double black; */
}

.name {
    text-shadow: 0px 0px 5px #3cc9f8, 0px 0px 20px #3cc9f8;
    color: black;
    font-family: "Amperzand";
    font-size: 17px;

}

.rainbowText {
    text-shadow: 1px 1px 5px black;
}

i {
    color: black;
    text-shadow: 0px 0px 15px #3cc9f8, 0px 0px 15px #3cc9f8;
}



.gradientLine {
    height: 5px;
    width: 100%;
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}


/*****************/
/* ABOUT SECTION */
/*****************/

.about {
    width: 900px;
    height: 550px;
    overflow: scroll;
    padding: 1%;
    background-color: white;
    text-align: center;
    transition: ease 1s;

    /* keeps the div in the center of the bg element */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.title {
    font-family: "Equalizer Script Demo";
    font-size: 4em;
    text-align: center;
    margin: auto;
    text-shadow: 2px 2px 5px rgb(85, 85, 85), -2px -2px 5px rgb(60, 201, 248);

}    

.title h1 {
    margin-bottom: -24px;
}    

hr.hr-text {
    border: 0;
    height: 1px;
    margin-bottom: 5px;
    margin-top: 0px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}




.subTitle {
    margin: auto;
    font-family: "Print Clearly";
    /* font-size: .9em; */
}    

span h6 {
    margin-top: 13px;
    opacity: 0;
    transition: ease 1s;
    font-family: "Print Clearly";

}    

.aboutContent {
    text-align: left;
}

.aboutContent h4 {
    text-decoration: underline;
}