/****************/
/* BODY SECTION */
/****************/


body {
    position: relative;
}


/***************/
/* NAV SECTION */
/***************/



.nav {
    position: sticky;
    top: 0;
}

.menu {
    background-color: white;
    /* border-bottom: 15px double black; */
}

.name {
    text-shadow: 1px 1px 5px lightblue;
    color: black;

}

.rainbowText {
    text-shadow: 1px 1px 5px black;
}

i {
    color: black;
    text-shadow: 1px 1px 5px lightblue;
}



.gradientLine {
    height: 5px;
    width: 100%;
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}


/****************/
/* HERO SECTION */
/****************/

.hero-section {
    background: url("../images/fireworksblur.jpg") 50% no-repeat;
    background-size: cover;
    height: 300px;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 0;
}
  
.hero-section h1 {
    font-family: "Back to Black Demo";
    font-size: 5em;
    z-index: 1;
    text-shadow: 2px 2px 3px black;
    background-color: rgba(0, 0, 0, 0.452);
    color: white;
    width: 350px;
    margin: 0 auto;
    /* border-radius: 35px; */
    box-shadow: 0px 0px 24px 9px rgba(0, 0, 0, 0.788);
}

.hero-section h5 {
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.507);
    text-shadow: 2px 2px 3px rgb(255, 255, 255);
    border-radius: 25px;
    width: 250px;
    margin: 0 auto;
    box-shadow: 0px 0px 24px 9px rgba(255, 255, 255, 0.623);

}

 hr.hr-text {
    z-index: 1;
    border: 0;
    height: 6px;
    width: 500px;
    margin-top: 4px;
    margin-bottom: 4px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
}
  
  

/*********************/
/* PORTFOLIO SECTION */
/*********************/

.grid-x {
    /* border: 1px solid red; */
}

  
.featured-image-block .featured-image-block-title {
    font-weight: 600;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
    color: #404040;
}
  
a {
    text-decoration: none;
}

.featured-image-block a:hover {
    text-decoration: underline;
}

img {
    min-width: 430px;
    height: 210px;
    margin-top: 16px;
    margin-bottom: 6px;
    filter: blur(2px);
    transition: .5s;
}

.featured-image-block:hover img {

    filter: blur(0px);
    box-shadow: 0px 0px 24px 9px rgba(0, 0, 0, 0.397);
}

  